<div class="navbar d-flex">
  <h1>5 o'clock somewhere</h1>
  <div class="wrapper">
    <%= link_to "Add New Cocktail", new_cocktail_path, class: "new-cocktail-btn" %>
    <div class="wave-1"></div>
    <div class="wave-2"></div>
  </div>
</div>



