// Import your components CSS files here.
@import "alert";
@import "avatar";
@import "navbar";
@import "card";


h1 {
  font-family: "Avant Garde", Avantgarde, "Century Gothic", CenturyGothic, "AppleGothic", sans-serif;
  font-size: 40px;
  padding: 80px 50px;
  text-align: center;
  text-transform: uppercase;

}
