.navbar {
  justify-content: space-between;
  background: white;
  width:100%;
}

.navbar .navbar-collapse {
  flex-grow: 0;
}

.navbar h1{
  padding: 25px 25px;
  font-size: 15px;
  font-family: 'Open Sans Condensed', sans-serif;

}
.navbar h1:hover{
  text-decoration: none;
}

.new-cocktail-btn{
  color: black;
  font-size:15px;
  padding:15px;
  background:#E7D3CC;
  border-radius: 10px;
  font-family: 'Open Sans Condensed', sans-serif;
}
.new-cocktail-btn:hover{
  text-decoration: none;
  color:white;
}

